@import url('https://fonts.googleapis.com/css2?family=Kalam&display=swap');

body{
    background-color:rgb(236, 217, 236);
    margin-left: 4%;
    font-family: 'Kalam',cursive;
}


footer{
    margin-top: 1rem;
    background-color: rgb(223, 160, 223);
 }

 /* #made-with{
     
 } */


#output{
    color:rgb(192, 25, 192);
    font-size: large;
    background-color: #ffffff;
    opacity: 0.8;
    height: 10rem;
    width: 50%;
    border: 3px dotted rgb(240, 148, 163);
    border-radius: 0.7rem;
    /* border-style: dashed; */

    padding: 1rem;
    
}
#output:hover{
    border-style:solid;
    transition: 5ms;


}
textarea{
    color:teal;
    font-size: large;
    font-family: 'Kalam',cursive;;
    opacity: 0.8;
    height: 10rem;
    width: 50%;
    border: 3px solid rgb(240, 148, 163);
    border-radius: 0.7rem;
    padding: 1rem;
}
textarea:hover{
    border-style: dotted;
    transition: 5ms;

}
*{
    
    padding: 0.3rem;
}

button{
    
    font-size:medium;
    color: papayawhip;
    background-color: rgb(228, 106, 147);
    display: block;
    margin: 2rem;
    margin-left: 20%;
    padding: 1rem;
    border: 3px solid rgb(223, 160, 223);
}

button:hover{
    background-color: rgb(230, 63, 119);
    transition: 5ms;

}